@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

.main_title{
    font-size: 100px;
    text-align: center;
    right: 50%;
    top: 20%;
    font-family: "Licorice", cursive;
    opacity: 100%;
    animation: fade 2s;
    animation-fill-mode: forwards; 
}


.main_description{
    font-size: 50px;
    text-align: center;
    right: 50%;
    font-family: "Licorice", cursive;
    opacity: 0%;
    animation: fade 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; 
}


@keyframes fade{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}